@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Reference
        <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Bootstrap </a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RWD">RWD</a>
    </p>
</div>
