@{
    ViewData["Title"] = "RWD";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<body class="pushDown100">

    <div class="header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="row">
        <div class="col-3 col-s-3 menu">
            <ul>
                <li>l</li>
                <li>o</li>
                <li>r</li>
                <li>e</li>
                <li>m</li>
            </ul>
        </div>

        <div class="col-6 col-s-9" style="color:  #003790;">
            <h1>lorem</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet nisi magni harum voluptates fuga odit
                enim! Inventore est optio deserunt corrupti doloremque sequi sapiente quibusdam quis. Nisi aliquid sit
                repellat.</p>
        </div>

        <div class="col-3 col-s-12">
            <div class="aside">
                <h1>lorem</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet nisi magni harum voluptates fuga odit
                    enim! Inventore est optio deserunt corrupti doloremque sequi sapiente quibusdam quis. Nisi aliquid
                    sit repellat.</p>
            </div>
        </div>
    </div>

    <div class="footer1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum amet rem ipsum hic pariatur maxime qui
            vitae ad non nesciunt cupiditate eos quidem sunt, ab corrupti laboriosam perferendis quod?</p>
    </div>

</body>
